@using Impact.Website.Helper
@using Newtonsoft.Json
@model Impact.Website.Models.QuarterViewModel
@{
	ViewBag.Title = "Analyzer Page";
}
<div class="container">
	<h2>Choose date</h2>
    <div class="row">
        @using (Html.BeginForm())
        {
            <div class="col-md-12">
                <form>
                    <div class="form-group form-inline">
                        @Html.DropDownListFor(m => m.SelectedQuarter, Model.Quarters, new {@class = "form-control"})
                        @Html.CheckBoxFor(m => m.WeeksViewModel.IsNormalized, new {id = "toggle-normalized", data_toggle = "toggle", data_off = "Base", data_on = "Normalized"})
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="balance_chart"></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            
            <div id="weeks_chart"></div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/Charts/js")
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var balance = @JavaScriptConvert.SerializeObject(Model.BalanceViewModel);
        var weeks = @JavaScriptConvert.SerializeObject(Model.WeeksViewModel);

        console.log(balance);
        console.log(weeks.json);
        
        drawGraphs(balance, weeks);
    })
</script>