@model Impact.Website.Models.DemoOvertimeViewModel
@{
    ViewBag.Title = "Demo Overarbejde";
}
@using (Html.BeginForm("Index", "DemoOvertime", FormMethod.Post, new {id = "demoQuarterForm", name = "demoQuarterForm"}))
{
    <div class="container">
        <h2>Demo kvartal</h2>
            <div class="row">
                <div class="col-md-4">

                    
                    @for (int i = 0; i < 5; i++)
                    {
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text" style="width: 70px">@Model.InputWeeks[i].GetDisplayNumber()</span>
                                    </div>
                                    @Html.EditorFor(m => m.InputWeeks[i].TotalHours, new {htmlAttributes = new {@class = "form-control", placeholder = "37,5"}})
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.InputWeeks[i].Number)
                    }
                </div>
                <div class="col-md-4">
                    @for (int i = 5; i < 10; i++)
                    {
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text" style="width: 70px">@Model.InputWeeks[i].GetDisplayNumber()</span>
                                    </div>
                                    @Html.EditorFor(m => m.InputWeeks[i].TotalHours, new {htmlAttributes = new {@class = "form-control", placeholder = "37,5"}})
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.InputWeeks[i].Number)
                    }
                </div>
                <div class="col-md-4">
                    @for (int i = 10; i < Model.InputWeeks.Count; i++)
                    {
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text" style="width: 70px">@Model.InputWeeks[i].GetDisplayNumber()</span>
                                    </div>
                                    @Html.EditorFor(m => m.InputWeeks[i].TotalHours, new {htmlAttributes = new {@class = "form-control", placeholder = "37,5"}})
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.InputWeeks[i].Number)
                    }
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
    </div>
    @RenderPage("~/Views/Overtime/Index.cshtml")
}
<script>
//Ugly hack to remove second heading. Should find a better way to do this
var h2s = document.querySelectorAll('h2');
var lastH2 = h2s.item(h2s.length -1);
lastH2.remove();
</script>